<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dungeon_Teller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dungeon_Teller.Properties.Settings>
            <setting name="AntiAFK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesktopNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BalloonTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LockWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PushNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PushOverUserKey" serializeAs="String">
                <value />
            </setting>
            <setting name="MailNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BringToFront" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PauseFocus" serializeAs="String">
                <value>False</value>
            </setting>
        </Dungeon_Teller.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
